<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Welcome to your ASP.NET 5 Web API app! Click <a href="api/todolist"> here</a> to access the Web API api/todolist
</body>
</html>